[Unit]
Description=gunicorn WSGI application server for airbnb
After=network.target

[Service]
Type=notify
User=ubuntu
RuntimeDirectory=gunicorn
WorkingDirectory=/home/ubuntu/AirBnB_clone_v4
ExecStart=/home/ubuntu/.local/bin/gunicorn --bind 0.0.0.0:5003 web_dynamic.2-hbnb:app
ExecReload=/bin/kill -HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
Restart=on-failure

[Install]
WantedBy=multi-user.target
